form upload doesn't adhere to RFCs

Hi
I encountered a bugwhen trying to upload a file using the C# MultipartFormDataContent class.
That class adds the multipart boundary in the Content-Type header using quoted string, as permitted by RFC7231, while using the boundary value without the quotes in the multiparts themselves. This is in accordance with the RFC.

However CivetWeb can't handle this, as it doesn't remove the quotes from the quoted-string value. This is a violation of the RFC7231.

Also, in the Content-Disposition header for each multipart, CivetWeb expects the filename and name parameters to be quoted-strings. This is in violation of RFC6266, as also unquoted strings are permitted as parameter values.

This is in CivetWeb 1.9

I will have a look at this. Could you post the request, including header?


The following will result in a malformed request error from function mg_handle_form_request in line 581:
Note that here the boundary is specified using a quoted string.

    POST /api/supervisedlogging/cvrs/1/photos/ HTTP/1.1
    Host: 127.0.0.1
    Content-Type: multipart/form-data; boundary="----WebKitFormBoundary48CKMOYcwJ956MsD"
    
    ------WebKitFormBoundary48CKMOYcwJ956MsD
    Content-Disposition: form-data; name="uploadfile"; filename="20160329_160453.jpg"
    Content-Type: image/jpeg
    
    
    ------WebKitFormBoundary48CKMOYcwJ956MsD--

The same goes if you don't use quoted string for the name and the filename, it will then fail in lines 625 and 650 respectively.



Thank you for the information and the references.

I used older RFCs and mainly documentations, that did not mention the quoted boundaries, and I tested with several browsers, but not with C# classes. I also tested with a WebKit based browser - it did not generate a quoted "----WebKit*" Boundary - C# probably does not generate a string containing WebKit, does it?. 
I wonder why this C# class uses the quotes, since even the [RFC 2616, Sec. 19.2.](https://tools.ietf.org/html/rfc2616#section-19.2) states "Although RFC 2046 permits the boundary string to be quoted, some existing implementations handle a quoted boundary string incorrectly.", so it seems to be commonly missed or misunderstood - probably also in the documentations I used.

A fix seems quite easy, but I have no C# client to test it. 

Could you recommend one, and/or would you be willing to run a test?

My idea to fix it would be to add the following code before the `if (bl + 800 > sizeof(buf)) { /* Sanity check:   ... */ return -1;}` block in the `handle_form.inl`:

```
		if (boundary[0] == '"') {		
			hbuf = strchr(boundary+1, '"');
			if (*hbuf) {
				*hbuf = 0;
				boundary++;
				bl = strlen(boundary);
			}
		}
```

Does this browser or C# class also generate filename and name without quotes:
```
Content-Disposition: form-data; name=uploadfile; filename=20160329_160453.jpg
```
This would mean, the server has to look for separators according to [RFC 2616 Sec. 2.2](https://tools.ietf.org/html/rfc2616#section-2.2), some of those characters may occur as file names or field names.
```
       token          = 1*<any CHAR except CTLs or separators>
       separators     = "(" | ")" | "<" | ">" | "@"
                      | "," | ";" | ":" | "\" | <">
                      | "/" | "[" | "]" | "?" | "="
                      | "{" | "}" | SP | HT
```
It isn't really complicated to implement it, but a test client would still be helpful. Is this generated by the same C# browser?


The old RFCs you reference in the source code also allow for this behavior with quoted strings, that hasn't changed in the new RFCs. 
The reason that the boundary contains the Webkit string, is because the sample I provided was created using a REST add-on in Chrome, so I have full control over the request made to the server. I couldn't get the entire post data from the C# class, so I used the debugger to obtain the buffer that civetweb receives, that's how I found out what's wrong.
The C# class source code can be viewed in the Mono repository. I've looked at it and it explicitly puts quotes around the boundary in the header and it doesn't always put quotes in the name and filename.

Thanks for taking the time to fix it :) 
I'll test it out. Will you also fix the quoted-string for the name and filename?


It seems it is or was a common misinterpretation, that quotes were not allowed - my tests did not have any quotes yet, and my literature did not mention it explicitly. But anyway, if it is allowed and is also used in practice, it has to work.

I will also allow non-quoted name and filename, but this is a little bit more work. And the problem remains: I have no client to test this. I could somehow manually craft a request (using fiddler, httprequester/postman, write a C program or whatever), but that's more work than using an existing client, and a real client is also the more relevant test case.


I added some code that *could* work for non-quoted name and filename fields. But I have not tested it yet, since I do not have a suitable client.


Try these curl commands I created for you.
[https://github.com/jeroenwalter/civetweb-stuff/blob/master/civetweb_fileupload_test.zip](url)

These work with the ex_embedded_c example. Disable ssl in the example, otherwise the example quits early because it can't find the ssl dlls.

While testing these commands, I found another bug.
When looking for the name parameter with the quotes and the request body doesn't use quotes for the name, then the code finds the filename parameter instead if that uses quotes. That's because of strstr that just find the first matching occurrence. I think name should be preceded by a whitespace, so I guess first looking for the whitespace should fix it.

The boundary fix works. 
 


> While testing these commands, I found another bug.
> ...
>  I think name should be preceded by a whitespace, so I guess first looking for the whitespace should fix it.

I already did this in 1ce371ac0e05c33caf04ca32b8cc7d14c79ccc61, by adding a strcspn check for all reasonable separators including (space, tab, semicolon): https://github.com/civetweb/civetweb/commit/1ce371ac0e05c33caf04ca32b8cc7d14c79ccc61#diff-ffc3d18d2505da813a21651803864374R638
I just did not test it yet.

Thank you for your curl tests, I did not know curl could be used this way.
I modified the embedded_c test in a way, port 8884 can be used even if SSL is not disabled (4ed57f4e1474397f53a95660fdf6138392995c84). 


All curl tests are working in the current implementation.
Do you think, there is still anything open in this issue?


First of all, I really appreciate the time and effort you put in this, thanks for that.
Unfortunately your fix isn't sufficient in case of a bad request.
The RFC section you reference is leading, it defines a token quite clearly, but your interpretation of a token is not correct and leads to bad request being handled as good.
Suppose I remove the begin quote from the name parameter but leave the end quote, e.g. name=bla"
The quote is a separator and therefor not part of the token, however your fix would include the quote in the value of name. 
You could "fix" this in line 675 by adding the quote as a separator, but it doesn't feel right to me, as this would still not mark the request as a bad request. Parameters must be separated with a semicolon, not with a quote.

Also I would extract a method in order to remove the code duplication when looking for the name and the filename parameter.






Of course, we could ask the question, how strictly do we want to adhere to the RFCs?
Is it civetwebs intention to become a full-fledged http server with all the complexity that comes with it or do we want to keep it simple and functional, as stated in the Project Mission?


I'm not a fan of returning "Bad Request" on every small syntax violation. Usually, I tend to follow the "be strict when writing, be tolerant when reading" approach. That's actually also the way all major browsers are implemented: They will all try to render some HTML-ish content with sloppy syntax, without showing errors, while real syntax checkers detect several pages of violations for the very same page. Browsers will not complain on HTTP violations, detected by web debugging tools (like Fiddler). I haven't read all RFCs in detail - there are quite a lot of them. I don't know if they really require you to show a "Bad Request" error on every syntax violation, or if they will allow to process the request. I haven't tested how other servers react on different degrees of syntax violations, but I definitely know browsers are tolerant - in accordance to their RFCs or despite of their RFCs. 


I know I did not implement a full token parser allowing all possible token formats from RFC 2616 Sec. 2.2. This implementation was meant as a first fix, so you can test it with your C# browser, that I do not have. I could add all separators from the list above, but it seems to be somehow weird that a client library uses } as a separator sign - this appears to be a hand-crafted request, maybe from an attacker while trying to find an exploit. I know servers actively violate standards when their heuristics detect something unusual that could be an attack - e.g, by aborting connections without proper handshake.
I have not finished considering all aspects of adding or not adding all possible separators, when I made the first fix for you to test. 

I interpreted this issue as "make my C# client library work" (with a high priority).
Extended syntax checking or re-factoring (extract a method) are things I do from time to time with a low priority - but usually with "TODO" marks in the code instead of GitHub issues, and sometimes several months later, when there is nothing with higher priority.


Yeah, that's also my take on it. 
I'll close this issue, your fixes work. 
Thanks :)