WebSocket server cannot handle multiple Connection headers

When handling a WebSocket connect request, `should_switch_to_protocol` only looks for the first Connection header. If there are multiple ones, or one with multiple comma-separated values, it might miss the one that specifies the upgrade to "websocket" and handles it like a normal HTTP request.

Multiple Connection headers are not exactly standard, and I don't know how widespread this is, but there are clients that do that, namely the Tcllib's websocket module.

Sorry for the long delay, I was unavailable for about two weeks.

Could you show me an example of how the connection headers look like in your case?
Do you have something like `Connection: Downgrade, Upgrade`?
Or `Upgrade: whatever, websocket`?
I have never seen this before from any client.


No worries, thanks for getting back!

In the case of Tcl's websocket module, it looks like this:

```
...
Connection: Keep-alive
...
Connection: Upgrade
Upgrade: websocket
...
```

Their websocket module uses the http module to build a keep-alive GET request and then simply appends the websocket headers :-) A comment in their code suggests the keep-alive being more of a hack to tell the http module to keep the connection open.

Anyway, looking at RFC 7230, section 3.2.2, it seems that multiple Connection headers are permitted since its value is defined as a list (the mentioned exception are cookies):

   A sender MUST NOT generate multiple header fields with the same field
   name in a message unless either the entire field value for that
   header field is defined as a comma-separated list [i.e., #(values)]
   or the header field is a well-known exception (as noted below).

I solved it for us by calling `get_req_headers` instead of `mg_get_header` in `should_switch_to_protocol`, pseudo-patch below. This only handles multiple Connection headers but no a Connection header with multiple comma-separated values. (My humble suggestion would be to extend `get_req_headers`. There code that deals with the Sec-WebSocket-Protocol header already does that.)

```
-        connection = mg_get_header(conn, "Connection");
-        if (connection == NULL) {
-                return PROTOCOL_TYPE_HTTP1;
-        }
-        if (!mg_strcasestr(connection, "upgrade")) {
-                return PROTOCOL_TYPE_HTTP1;
-        }

+        int i;
+        const char *connections[8]; // max 8 headers
+        int nbConnectionHeader = get_req_headers(&conn->request_info, "Connection", connections, 8);
+        for (i = 0; i < nbConnectionHeader; i++) {
+          if (0 != mg_strcasestr(connections[i], "upgrade")) {
+            connection = "upgrade";
+          }
+       }
+       if (connection == NULL) {
+               return PROTOCOL_TYPE_HTTP1;
+       }
```


I integrated a fix similar to your proposal into the master branch.
May I ask you to test it again-

Works, so closing the issue.

Thanks a lot for the quick fix!