Support CGI scripts which output HTTP headers with only with LF

According to [RFC2616 Section 2.2](https://www.w3.org/Protocols/rfc2616/rfc2616-sec2.html#sec2.2), the proper HTTP header separator is CRLF.

However, some CGI programs output their headers with LF only. Therefore, in the same RFC [Section 19.3](https://www.w3.org/Protocols/rfc2616/rfc2616-sec19.html#sec19.3), it recommends that http servers be fault-tolerant and recognises a lone LF as a separator too.

As for version the last commit as of today, civetweb doesn't handle this recommendation and therefore doesn't handle CGI programs that output its headers in LF only, e.g. cgit. Sure, we can fix cgit but there may be many other broken programs, as such it is better to make civetweb more fault-tolerant.

The only function that needs to be modified is parse_http_headers in civetweb.c



Same issue can be appeared also when using Mozilla F12 during app dev and test.

I thought I implemented LF tolerance some years ago. What version are you using?

I just checked with `echo -en "GET / HTTP/1.0\r\n\r\n" | netcat localhost 8080` and `echo -en "GET / HTTP/1.0\n\n" | netcat localhost 8080` (with CR LF and with LF only) - both work fine.

Probably this is not the case for CGI scripts. Do you have a simple test to reproduce this?


Thanks for looking into this. 

I initially found that on 1.11 but the git master still has the same problem.

Name the following as test-crlf.cgi
```
#!/bin/sh
printf "Content-Type: text/plain\r\n"
printf "\r\n"
printf "This should be the first line\r\n"
```

And the following as test-lf.cgi
```
#!/bin/dash
printf "Content-Type: text/plain\n"
printf "\n"
printf "This should be the first line\n"
```

Put both scripts in the same directory, make them executable and run civetweb with that directory as the document_root. By default civetweb will execute any *.cgi files as CGI, so is ok.

Then on another terminal, run curl. I'd expect to see identical results, but here is my actual results:
```
# curl -q http://localhost:8080/test-crlf.cgi
This should be the first line
# 
```
which is correct, and

```
# curl -q http://localhost:8080/test-lf.cgi

This should be the first line
# 
```
which is wrong, it has an extra blank line. This is mostly harmless for web browsers (they ignore whitespaces and spurious newlines) but if you run "git pull" for example, this will fail because of that extra blank line, which should not be there.


Should work now - but please test it with your program.

Thank you, it works now. It also backports cleanly to 1.11 - nice. 👍 