parse_http_headers behaivior against headers without :

After commit: ac0860f6bcb524b2646b8c168dd355ec364d188e , colon-less headers became legal.
Though such a header sets `http_headers[i].value` to NULL, then it causes `mg_vsnprintf("%s",NULL);`(undefined behaviour).
So, what is the reason for the legalization?

As far as I remember I changed this while implementing a mg_upload replacement - I used parse_http_headers for the part-headers in multi-part messages. The algorithm must deal with fields without : in the processed part of the message.

Where does it cause a printf("%s",NULL); ?




`prepare_cgi_environment()` or `handle_cgi_request()` cause it.
RFC7230 defines `header-field` as `field-name ":" OWS field-value OWS`,
so If there is no strong reason, I think it would be safer to drop such headers.

I am not sure if this applies to part-headers of multipart messages as well.

Also, as far as I remember, the multipart parser did not work correctly before this change. Since writing this algorithm took a lot of steps, it might have been a problem only in an intermediate state. I think it will be save to store lines without a `:` as value `` (empty string) instead of NULL, but we can not stop reading the header if there is a line without `:`, because the multipart reader will not get the beginning and the end of the parts right and probably return garbage to the callbacks. Even if it is not allowed to send lines without `:` in the multipart parts as well, the server must be save against such messages (could be a denial of service problem).



> I think it will be save to store lines without a : as value (empty string) instead of NULL,

No, currently be saved as NULL, because `ri->http_headers[i].value = 0;` is exactly same as `ri->http_headers[i].value = NULL;`

> in the multipart parts as well, the server must be save against such messages (could be a denial of service problem).

Unrelated about multipart/form-data (RFC7578). HTTP is not multipart. Only we should refer to RFC7230.
Then, I don't propose "stop reading", RFC says,
> Other recipients SHOULD ignore unrecognized header fields.

So I think only dropping (ignoring) is enough.


>>  I think it will be save to store lines without a : as value (empty string) instead of NULL,

> No, currently be saved as NULL, because ri->http_headers[i].value = 0; is exactly same as ri->http_headers[i].value = NULL;

I meant "it will be save to modify the current code so it stores the value as `ri->http_headers[i].value = ""` instead of `ri->http_headers[i].value = 0`/`NULL`.


> Unrelated about multipart/form-data (RFC7578). HTTP is not multipart. Only we should refer to RFC7230.

HTML forms use multipart HTTP messages - I think RFC 2388 defines multipart for HTTP, could be others as well. The form handler calls `parse_http_headers` to parse the part-header of the multipart message parts. Currently there are no separated functions to parse the header of the main HTTP request and to parse the headers of mulitpart parts.

> Other recipients SHOULD ignore unrecognized header fields.

In case we do not process the header internally in CivetWeb, but forward them to callbacks, CGI scripts, Lua scripts, ..., we do not really know what is unrecognized - these header fields may still be handled by a script.


Setting `ri->http_headers[i].value = ""` will yield in headers like
```
X-My-Field
```
being treated like
```
X-My-Field:
```
which seems natural. Even if one RFC does not allow omitting the `:`, I don't know for others, and anyway one should stick strictly to the standard when sending a request/response, but flexible when receiving and parsing one.


> I meant "it will be save to modify the current code so ...

Oh sorry, I completely mistaked..

RFC2388 is obsoleted by RFC7578. Even if compatibility is important, the differences are described in Appendix A of RFC7578.
Then, "multipart/form-data" is a media-type, it does not affect HTTP/1.1 request-response protocol.

> X-My-Field
> being treated like
> X-My-Field:
> which seems natural.

I don't think so. Since such a flexiblity increases the success rate of header injection attacks, the flexiblity should be provided only when actually needed by clients.
( Although, this is not an important problem, so you don't need to agree with my opinion. )

Anyway the issue has been solved. I understand the story of the behaivior.
Thank you, I will close this.

Unfortunately the change from 0 to the empty string made all CI tests fail:

> [/home/travis/build/civetweb/civetweb/test/private.c:94](https://github.com/civetweb/civetweb/blob/master/test/private.c#L94):F:HTTP Message:test_parse_http_message:0: Assertion 'ri.http_headers[2].value == ((void *)0)' failed

This unit test has been ported from the original mongoose unit test. 
I have to investigate this problem, so I have to reopen the issue once again.




It seems there is a copy paste error from the original test anyway, and mongoose used to skip over lines without :
I saw you already changed the server in this way as well. Probably I will try to integrate your fix and repeat all my tests to re-investigate if the original problem still exists.














Thank you, I will also test parse_http_headers in `mg_handle_form_request()`.
My current master contains local hacks for my project, so selective cherry-picks or pull-requests would be better.

I cherry-picked it, and some other commits I understood in that short time and found valuable for the main stream (some that I did not merge now could still be very valuable, I was just not able to review it in a few minutes and they were not the main focus now).
Let's see what happens in the tests.


Maybe several follwing lines at `START_TEST(test_handle_form)` must be removed.

    send_chunk_string(client_conn, "-see-RFC-2388\r\n");

Perhaps `mg_printf(conn, "0\r\n\r\n");` at `request_test_handler()` is excess CRLF.


I re-consulted the standard and found the following:

> "Header fields can be extended over multiple lines by preceding each extra line with at least one SP or HT."
> "Multiple message-header fields with the same field-name MAY be present in a message if and only if the entire field-value for that header field is defined as a comma-separated list [i.e., #(values)]. It MUST be possible to combine the multiple header fields into one "field-name: field-value" pair, without changing the semantics of the message, by appending each subsequent field-value to the first, each separated by a comma."
> (from https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2)

1.  So may original problem - the server detects the end of the header if there is no : - might have been a legitimate multi-line header that broke the form handling algorithm.
2. My fix to add a line without : as a new key with value `NULL` was not correct either - it just made form handling work since the algorithm did continue processing the header.
3. From this point of view, the change from value `NULL` to value `""` is not better.
4. Also completely ignoring the header line is not really correct.

The only correct solution would be to add the line without `:` to the value of the line before.
I will do this in the next days.


No, you don't need to implement it. RFC2616 is obsoleted by  RFC723X. And RFC7230 defines extra lined field-value as "obs-fold" means obsoleted and historical format. Modern browsers never send such field-values.
Before you do the job, once prease consider about `START_TEST(test_handle_form)` I pointed out.


So that's new since summer 2014 than.

From https://tools.ietf.org/html/rfc7230#section-3.2.4

> Historically, HTTP header field values could be extended over
   multiple lines by preceding each extra line with at least one space
   or horizontal tab (obs-fold).  This specification deprecates such
   line folding except within the message/http media type 
> ...
>  A server that receives an obs-fold in a request message that is not
   within a message/http container MUST either reject the message by
   sending a 400 (Bad Request), preferably with a representation
   explaining that obsolete line folding is unacceptable, or replace
   each received obs-fold with one or more SP octets prior to
   interpreting the field value or forwarding the message downstream.

Sending a "Bad Request" would also be an option.

By "consider about START_TEST(test_handle_form)" you mean remove some ck_assert from the test?

I mean the current L2405 and L2431 of "public_server.c" should be removed.

You are absolutely right - I guess I missed to remove them after restructuring the test.


This seems to fix the `test_handle_form` - thanks for the hint, I just failed to notice that - probably I changed the test too often to still see this.

This leaves the `test_parse_http_message`, and the question how to deal with such lines in principal. Since the new standard allows to return with an error, probably `parse_http_message` should just return an error.

Probably, the "Bad Request" as you say is the most strict way, though it might be a bit expensive to implement.
The current dropping strategy would be generally safe, but I don't know whether the strategy is perfectly safe.
I will follow your decision about the behaivior.

I think the "Bad Request" way is not too hard to implement: if `parse_http_message` returns -1, civetweb will already return "400 Bad Request" (civetweb.c:11989).
All the tests need to be checked, but I need to do this anyway.


Your commit: https://github.com/civetweb/civetweb/commit/7accd96c7e32f14c25c01e531d55cd5056a46514 seems smart, good job!
`while ((*dp != ':') && (*dp >= 33) && (*dp <= 126)) {` would be better than `(*dp >= 32)`.
Because (and of course), white-space is also not permitted in the field-name. This is my mistake at https://github.com/civetweb/civetweb/commit/e0175ea806a6fb8eada98c505ff25dd77abd6fdf .


I think it works now.
Should we close this issue?

Yes, I close this.