mg_handle_form_request parses query strings incorrectly if key contains '='

If the key in the query string contains the `=` symbol (correctly percent-encoded as `%3d`), `mg_handle_form_request` parses it incorrectly. This worked properly in 1.10, and no longer works in 1.14.

Here's a test server program. It will print the port it's listening on.

```
#include <CivetServer.h>
#include <civetweb.h>
#include <unistd.h>

#include <cstdio>
#include <cstring>
#include <memory>

using namespace std;

class TestHandler : public CivetHandler {
  public:
    bool handleGet(CivetServer* server, mg_connection* conn) override;
};

namespace {
int fieldFound(const char* key, const char* fileName, char* path,
               size_t pathLen, void* userData) {
    return MG_FORM_FIELD_STORAGE_GET;
}

int fieldGet(const char* key, const char* value, size_t valueLen,
             void* userData) {
    printf("key=[%s] value=[", key);
    fwrite(value, 1, valueLen, stdout);
    fputs("]\n", stdout);
    return 0;
}
}  // namespace

bool TestHandler::handleGet(CivetServer* server, mg_connection* conn) {
    struct mg_form_data_handler fh;
    memset(&fh, 0, sizeof(fh));
    fh.field_found = fieldFound;
    fh.field_get = fieldGet;
    int r = mg_handle_form_request(conn, &fh);
    if (r < 0) {
        mg_send_http_error(conn, 400, "Form error %d\n", r);
    }
    return true;
}

int main() {
    TestHandler handler;
    CivetServer server(vector<string>{"listening_ports", "127.0.0.1:0"});
    server.addHandler("/test", &handler);

    printf("listening on port %d\n", server.getListeningPorts()[0]);
    for (;;) {
        pause();
    }
}
```

Now run `curl 'http://localhost:39285/test?foo%3dbar=baz'`
- the key should be `foo=bar`
- the value should be `baz`

but the server prints `key=[foo] value=[bar=baz]`

Splitting on `=` should happen *before* percent-decoding, not after.



Until including V1.12, civetweb did only decode the path but not the query string:

```C
	/* 1.3. decode url (if config says so) */
	if (should_decode_url(conn)) {
		mg_url_decode(
		    ri->local_uri, uri_len, (char *)ri->local_uri, uri_len + 1, 0);
	}
```

Starting from V1.13, it did also decode the query string.
```C
	/* 1.3. decode url (if config says so) */
	if (should_decode_url(conn)) {
		mg_url_decode(
		    ri->local_uri, uri_len, (char *)ri->local_uri, uri_len + 1, 0);

		if (conn->request_info.query_string) {
			url_decode_in_place((char *)conn->request_info.query_string);
		}
	}
```

The change is related to https://github.com/civetweb/civetweb/issues/894 / 688969fdd

Removing the 
```C
		if (conn->request_info.query_string) {
			url_decode_in_place((char *)conn->request_info.query_string);
		}

```
will not decode the query-string before splitting it in `handle_request`.

However, this will cause compatibility issues, if code assumes the query string is already decoded - for example in a script using the query string as a file name.

This part of the code cannot know how the query string is going to be used later.

One solution would be to not only allow "yes" and "no" for `should_decode_url()` (configuration value `decode_url`), but to decode non, all (incl query string, like in V1.13 or later) or only the part before the query string (like V1.12 and earlier).
An URL dependent configuration is not possible here.

Using the configuration value "decode_url" "no" will solve your issue in V1.13/V1.14 as well, but it will not work if someone URL encodes some part of the URI before the query string.



The `x-www-form-urlencoded` part of the HTML spec (https://www.w3.org/TR/html4/interact/forms.html#h-17.13.4.1) says that:

> Control names and values are escaped. Space characters are replaced by `+`, and then reserved characters are escaped as described in [RFC1738], section 2.2: Non-alphanumeric characters are replaced by `%HH`, a percent sign and two hexadecimal digits representing the ASCII code of the character. Line breaks are represented as "CR LF" pairs (i.e., `%0D%0A`).
> The control names/values are listed in the order they appear in the document. The name is separated from the value by `=` and name/value pairs are separated from each other by `&`.

So:
- for each name/value pair, first you escape the name and the value, and then you join the name and value with `=`
- then, you join the name/value pairs together with `&`

Which means that the correct behavior is to split the query string on `&` and `=` and decode each individual component.

So `foo%3dbar=baz` should parse `foo=bar` as the name and `baz` as the value.

> So foo%3dbar=baz should parse foo=bar as the name and baz as the value; the behavior before 1.13 is correct.

I agree this is correct for form data in "GET" requests.
For other requests, they must be decoded. But I cannot decide at this point in the code.
This is what makes the fix complicated and longer than just removing one line of code. In a first step we can remove the
``C`
		if (conn->request_info.query_string) {
			url_decode_in_place((char *)conn->request_info.query_string);
		}
```
since it is definitely not the right place to decode here. I did this in the commit 4e7945017078fe7766acc9f399545d2bb0859c80.
Finding the other places where decoding needs to be done is what makes this issue complicated (in fact this issue should be solved with commit 4e7945017078fe7766acc9f399545d2bb0859c80, but I have to check where to decode for the other use cases).

